<%- include('../partials/header'); %>

<body>
  <h1>Teams: <a href="/team/create"><i>Add</i></a></h1>
  <% teams.forEach(function(team){ %>
    <%- include('show', {team: team}); %>
  <% }); %>

<%- include('../partials/footer') %>
