<%- include('../partials/header'); %>
<body>
    <div class="wrapper shadow">
      <h1>Teams</h1>
      <hr>
      <section class="content">
        <h3 class="link">
  		    <a href="/team/create">+</a>
        </h3>
        <div class="matchlist">
            <% teams.forEach(function(team){ %>
              <%- include('show', {team: team}); %>
            <% }); %>
        </div>
      </section>
<%- include('../partials/footer') %>
