<div class="match-entry">
	<hr>
	<h3 class="blue"><a href="/team/<%- team._id %>/edit"><%- team.name %></a></h3>
	<hr>
	<h3>Matches: </h3>
	<div class="row">
	  <% team.matches.forEach((match) => { %>
	    <strong> <%- match.roundIdentifier %> </strong> |
	  <% }); %>
	</div>
  <div class="row">
  	<a class="waves-effect waves-light btn" href="/team/<%- team._id %>/edit">edit</a>
  </div>
</div>
