<%- include('partials/header'); %>
<body>
    <div class="wrapper">
        <h1>Kunstrasen</h1>
        <hr>
        <section class="content">
        	 <h3>
                Adminbereich
            </h3>
            <p>
                Hier wird geschaltet und gewaltet.
            </p>
            <hr>
            <h3 class="blue link">
                <a href="/team">Teams Overview</a> <br />
            </h3>
            <hr>
            <h3 class="blue link">
  				<a href="/match">Matches Overview</a>
  			</h3>        
        </section>
<%- include('partials/footer') %>
 