<%- include('partials/header'); %>
<body>
    <div class="wrapper shadow">
        <h1>Kunstrasen 2018</h1>
        <hr>
        <section class="content">
            <h3>
                Willkommen auf dem Turnier der K&uuml;nste.
            </h3>
            <p>
                Runter von der Couch! Rauft euch zusammen, mit und ohne Ball-Erfahrung. Wir wollen verlieren. Ihr auch? Wir k&ouml;nnen gewinnen. Wer sonst? Alle Wege f&uuml;hren nach Bremen. Wir schaffen ein Wochenende voller Gl&uuml;ckstreffern, Musik, Bier, Dramen und Bengalos zwischen Weser und Werdersee. Seid ihr dabei? Bringt also Freunde, Fans und eine ordentliche Formkrise mit. Es geht draum, was ihr liebt - Spa&szlig; zu haben
            </p>
        </section>
        <section class="match">
            <hr>
             <h3>
                Matches
            </h3>
            <div class="matchlist">
              <% matches.forEach((match) => { %>
                <%- include('match/showpublic', {match: match}); %>
              <% }); %>
            </div>
        </section>
        <section class="content">
            <hr>
            <a href="assets/infos.html"><h3 class="blue link">
                Information
            </h3></a>
        </section>
<%- include('partials/footer') %>