<%- include('partials/header'); %>
<body id="loginpage">
    <div class="wrapper shadow">
        <h1>Kunstrasen</h1>
        <hr>
        <section class="content">
            <h3>
                Login
            </h3>
            <form action="/login" method="post">
                <div class="field">
                  <% if (schiri) { %>
                    <input type="hidden" name="username" value="schiri"/>
                    <% } else {%>
                    <label>Username:</label>
                    <input type="text" name="username"/>
                    <% } %>
                </div>
                <div class="field">
                    <label>Password:</label>
                    <input type="password" name="password"/>
                </div>
                <div>
                    <input class="blue kBtn link shadow" type="submit" value="Login"/>
                </div>
            </form>
        </section>


<%- include('partials/footer') %>
