<%- include('partials/header'); %>
<body id="loginpage">
<form action="/login" method="post">
    <div class="field">
      <% if (schiri) { %>
        <input type="hidden" name="username" value="schiri"/>
        <% } else {%>
        <label>Username:</label>
        <input type="text" name="username"/>
        <% } %>
    </div>
    <div class="field">
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

<%- include('partials/footer') %>
