<%- include('../partials/header') %>

<body>
  <h1>Matches: <a href="/match/create"><i>Add</i></a></h1>
  <% matches.forEach((match) => { %>
    <%- include('show', {match: match}); %>
  <% }); %>

<%- include('../partials/footer') %>
