<%- include('../partials/header') %>

  <h1>Matches</h1>
  <hr>
  <section class="content">
  <h3 class="link">
  		<a href="/match/create">Add</a>
  </h3>
  <div class="matchlist">
  <% matches.forEach((match) => { %>
    <%- include('show', {match: match}); %>
  <% }); %>

<%- include('../partials/footer') %>
