<%- include('../partials/header') %>
<body>
    <div class="wrapper shadow">
      <h1>Matches</h1>
      <hr>
      <section class="match">
        <h3 class="link">
  		    <a href="/match/create">Add</a>
        </h3>
        <div class="matchlist">
            <% matches.forEach((match) => { %>
              <%- include('show', {match: match}); %>
            <% }); %>
        </div>
      </section>
      <section style="margin-top: 100px;" class="content">
            <hr>
            <h3 class="blue link">
                <a href="/team">Teams Overview</a> <br />
            </h3>
      </section>

<script src="/assets/js/copytoclipboard.js"></script>

<%- include('../partials/footer') %>
